<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello!</h1>
    <p>
      An order has been successfully made. Details are below:
    </p>
    <p>Company: <%= @order.user.company %>, <%= @order.user.email %></p>
    <p>Customer: <%= @order.name %>, <%= @order.email %></p>
    <p>Items purchased:</p>
    <ul>
      <% @product_orders.each do |order| %>
        <li>
          <%= order.product.name %> (<%= order.product.price %>/<%= order.product.unit %>) — <%= order.quantity %>
        </li>
      <% end %>
    </ul>

    <p>Thanks for supporting your community and have a great day!</p>
  </body>
</html>
