<div class="form-div">
  <h2>Order Continued</h2>
<table>
  <tr>
    <td>
      Name:
    </td>
    <td>
      <%= @order.name %>
    </td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= @order.email %></td>
  </tr>
  <tr>
    <td>Event:</td>
    <td><%= @order.event.name %></td>
  </tr>
</table>
  <%= button_to "Edit Order Info", edit_order_path(@order), method: :get, class: "cancel" %>
  <h4>Currently in your cart:</h4>
  <ul>
    <% if @purchased %>
      <% @purchased.each do |item| %>
        <li>
          <%= item.product.name %> — <%= item.quantity %>
          <%= button_to "Edit Order Info", edit_order_product_order_path(@order, item), method: :get %>
          <%= button_to "Delete", { controller: :product_orders, action: 'destroy', id: item.id }, method: :delete  %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <hr>
<h4>Add More!</h4>
<%= render 'form' %>
<%= button_to "I'm done", order_path(@order), method: :get, class: "event-form-submit" %>
<%= button_to "Cancel", { controller: :orders, action: 'destroy', id: @order.id }, method: :delete, class: "cancel"  %>
</div>
