<div class="form-div">
  <h2>Order Continued</h2>

  <h4>Name:</h4>
  <p><%= @order.name %></p>

  <h4>Email:</h4>
  <p><%= @order.email %></p>

  <h4>Event:</h4>
  <p><%= @order.event.name %></p>

  <h4>Currently in your cart:</h4>
  <ul>
    <% if @purchased %>
      <% @purchased.each do |item| %>
        <li><%= item.product.name %> — <%= item.quantity %></li>
      <% end %>
    <% end %>
  </ul>

  <hr>
<h4>Add More!</h4>
<%= render 'form' %>
<%= button_to "I'm done", user_path(@user), method: :get, class: "event-form-submit" %>
<%= button_to "Cancel", { controller: :orders, action: 'destroy', id: @order.id }, method: :delete, class: "cancel"  %>
</div>
