<div class="form-div">
  <h2>Order Continued</h2>
<table>
  <tr>
    <td>
      Name:
    </td>
    <td>
      <%= @order.name %>
    </td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= @order.email %></td>
  </tr>
  <tr>
    <td>Event:</td>
    <td><%= @order.event.name %></td>
  </tr>
</table>
  <%= button_to "Edit Order Info", edit_order_path(@order), method: :get, class: "cancel" %>
  <h4>Currently in your cart:</h4>
    <% if @purchased %>
      <table class="order">
        <tr>
          <th class="order">
            Product
          </th>
          <th class="order">
            Price/Unit
          </th>
          <th class="order">
            Amount Purchased
          </th>
        </tr>
        <% @purchased.each do |item| %>
          <tr class="order">
            <td>
              <%= item.product.name %>
            </td>
            <td>
              <%= item.product.price %> / <%= item.product.unit %>
            </td>
            <td>
              <%= item.quantity %>
            </td>
            <td>
              <%= button_to "Edit", edit_order_product_order_path(@order, item), method: :get, class: "button-order" %>
            </td>
            <td>
              <%= button_to "Delete", { controller: :product_orders, action: 'destroy', id: item.id }, method: :delete, class: "button-order delete"  %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>

  <hr>
<h4>Add More!</h4>
<%= render 'form' %>
<%= button_to "I'm done", { controller: :orders, action: "send_order_mail" }, method: :get, class: "event-form-submit done" %>
<%= button_to "Cancel", { controller: :orders, action: 'destroy', id: @order.id }, method: :delete, class: "cancel"  %>
</div>
