<h2><%= @user.company %></h2>

<h3>Products</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Price (USD)</th>
    <th>Unit</th>
    <% if (user_signed_in?) && (@user.id == current_user.id) %>
      <th>Edit/Delete</th>
    <% end %>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.unit %></td>
      <% if (user_signed_in?) && (@user.id == current_user.id) %>
        <td><%= button_to "Edit", edit_product_path(product), method: :get, id: "edit-button" %> <%= button_to "Delete", product_path(product), method: :delete, id: "delete-button" %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if (user_signed_in?) && (@user.id == current_user.id) %>
  <%= link_to "Add new product", new_user_product_path(@user) %>
<% end %>

<h3>Events</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Location</th>
  </tr>
  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.event.name, event_path(event.event), id: "table-link" %></td>
      <td><%= event.event.start_time.strftime("%D — %l:%M %p") %></td>
      <td><%= event.event.city %>, <%= event.event.state %></td>
    </tr>
  <% end %>
</table>

<h3>About</h3>

<div id="user-about">
  <h4>Owner</h4>
  <p><%= @user.first_name %> <%= @user.last_name %></p>

  <h4>Address</h4>
  <p><%= @user.address %>, <%= @user.city %>, <%= @user.state %>; <%= @user.zip %></p>

  <h4>Contact</h4>
  <p><%= @user.email %></p>
<div>
