<h2 id="event-title"><%= @event.name %></h2>

<div id="event-div">
  <h3 id="event-header">Description</h3>
  <p><%= @event.description %></p>
  <h3 id="event-header">Time</h3>
  <p><%= @event.start_time.strftime("%a, %b %d %y %l:%M") %> — <%= @event.end_time.strftime("%a, %b %d %y %l:%M") %></p>

  <h3 id="event-header">Event Creator</h3>
  <p><%= @event.user.first_name %> <%= @event.user.last_name %> — <%= link_to @event.user.company, user_path(@event.user)%></p>

  <h3 id="event-header">Address</h3>
  <p><%= @event.address %>, </p>
  <p><%= @event.city %>, <%= @event.state %></p>

  <h3 id="event-header">Event URL</h3>
  <p><%= @event.event_url %></p>

  <h3 id="event-header">Map</h3>
  <p><%= @event.map_url %></p>

  <h3 id="event-header">Attendees</h3>
  <ul>
    <% @attendees.each do |attendee| %>
      <li><%= link_to attendee.grower.company, user_path(attendee.grower.id) %> – <%= attendee.grower.first_name %> <%= attendee.grower.last_name %></li>
    <% end %>
  </ul>
</div>

<% if (user_signed_in? && !UserEvent.find_by(grower: current_user, event: @event))%>
  <div id="event-button">
    <%= button_to "Attending", { controller: "user_events", action: "create", event_id: @event, grower_id: current_user } , method: :post, id: "attending-button" %>
  </div>
<% elsif UserEvent.find_by(grower: current_user, event: @event) %>
  <div id="event-button">
    <%= button_to "Not Attending", { controller: "user_events", action: "destroy", event_id: @event, grower_id: current_user } , method: :delete, id: "not-attending-button" %>
  </div>
<% end %>

<% if current_user && current_user == @event.user %>
  <%= button_to "Edit", edit_event_path(@event), method: :get, id: "edit-button" %>
  <%= button_to "Delete",  event_path(@event), method: :delete, id: "delete-button"%>
<% end %>
