<%= form_for [@grower, @order] do |f| %>

  <% if @order.errors.any? %>
      <div id="error_explanation-orders">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <% @order.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>

      </div>
  <% end %>

  <div class="form-div">

    <div class="event-form">
      <%= f.label :name, 'Name' %> <br>
      <%= f.text_field :name %>
    </div>

    <div class="event-form">
      <%= f.label :email %> <br>
      <%= f.text_field :email %>
    </div>

    <div class="event-form">
      <%= f.fields_for @product_order do |ff| %>
        <p class="form-label">Products</p>
        <p class="form-description">Enter number of units.</p>
        <div class="form-table">
          <table>
            <% @products_list.each do |product|%>
            <tr>
              <td>
                <%= ff.label :product, "#{product.name}, #{product.price}/ #{product.unit}" %>
              </td>
              <td>
                <%= ff.text_field :quantity %><br>
              </td>
            <% end %>
            </tr>
          </table>
        </div>
      <% end %>
    </div>

    <p class="form-label">Events</p>
    <div class="event-form">
      <% @events.each do |event|%>
        <%= f.label :event, "#{event.name}"%>
        <%= f.radio_button :event, "#{event.name}", value: event%><br>
      <% end %>
    </div>
  <% end %>
