<h2><%= @home %></h2>

<h3><%= @event_title %></h4>

<% if user_signed_in? %>
  <div id="welcome">
    <h4>
      <img src="<%= @user_pic %>", id="welcome-pic"/>
      Welcome, <%= @user.first_name %>!
    <h4>
  </div>

  <p>Don't see your event here? Add one! — <%= link_to "Add Event", new_event_path %></p>
<% end %>


<div id="index-app"></div>
